body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

h1 {
  padding: 0;
  margin: 0;
}
.title {
  background: #80c8ff;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
  padding-bottom: 5vh;
  z-index: -5;
  margin: 2vh 2vh 0 2vh;
  border-radius: 0% 0%;
}

.cloud1 {
  margin: 2vh;
  position: absolute;
  right: 2vh;
  top: 1vh;
}

.cloud2 {
  margin: 2vh;
  position: absolute;
  left: 2vh;
  top: 18vh;
  z-index: 1;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 5vh;
  color: #ff6961;
  z-index: 2;
}

.background {
  background: linear-gradient(
    0deg,
    #b9e1ff,
    #a6d9ff 60%,
    #a6d9ff 80%,
    #80c8ff 100%
  );
  height: 40vh;
  display: flex;
  align-items: end;
  justify-content: center;
  margin: 0 2vh 5vh 2vh;
  border-radius: 0% 0% 65% 50%;
}
.mountain {
  background-image: linear-gradient(
    #1d1c1a 33.333%,
    #ff6961 33.33% 66.666%,
    #fdfd96 66.666%
  );
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  width: 30vh;
  height: 24vh;
  z-index: 1;
  margin-bottom: 6vh;
}

.profile {
  height: 45vh;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding: 0 10vh 15vh 10vh;
}

.profile > img {
  border-radius: 100%;
  height: 15vh;
}

.name {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 3vh;
  text-align: center;
}

.h2profile {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2vh;
  text-align: center;
}

.stages {
  height: 40vh;
  width: auto;
  background-color: wheat;
  border-radius: 30% 10% 0% 0%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 10vh 5vh 10vh 5vh;
  justify-items: end;
  gap: 3vh;
  margin: 0;
}

.card {
  height: 20vh;
  width: 12vh;
  background-color: aliceblue;
  border-radius: 10%;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1vh;
  padding:1vh;
}

footer {
  height: 5vh;
  margin: 2vh;
  display: flex;
    justify-content: space-around;
  align-items: center;
 
}

footer > p {
  text-decoration: none;
}

.card2 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5vh;
  text-align: center;
  
}

.footy
{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1vh;
  
}